<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<bean class="com.baidu.jprotobuf.rpc.server.IDLServiceExporter">
		<property name="serviceName" value="SimpleIDLTest"></property>
		<property name="invoker" ref="simpleIDLInvoker"></property>
		<property name="inputIDL" value="classpath:/simplestring.proto"></property>
		<property name="outputIDL" value="classpath:/simplestring.proto"></property>	
	</bean>

	<bean id="simpleIDLInvoker" class="com.baidu.bjf.SimpleIDLInvoker"></bean>
	
	<bean id="simpleTestClientForIDLProxy" class="com.baidu.jprotobuf.rpc.client.IDLProxyFactoryBean">
		<property name="inputIDL" value="classpath:/simplestring.proto"></property>
		<property name="outputIDL" value="classpath:/simplestring.proto"></property>
		<property name="inputIDLObjectName" value="StringMessage"></property>
		<property name="serviceUrl" value="http://localhost:8080/myfirstproject/remoting/SimpleIDLTest"></property>
	</bean>

	<bean id="simpleTestClientForAnnotationProxy" class="com.baidu.jprotobuf.rpc.client.AnnotationProxyFactoryBean">
		<property name="inputClass" value="com.baidu.bjf.remoting.protobuf.FieldType.StringMessagePOJO"></property>
		<property name="outputClass" value="com.baidu.bjf.remoting.protobuf.FieldType.StringMessagePOJO"></property>
		<property name="serviceUrl" value="http://localhost:8080/myfirstproject/remoting/SimpleIDLTest"></property>
	</bean>	


</beans>